/* Write your CSS here */
.list {
  list-style-type: none;
}
.button {
  height: 35px;
  width: 140px;
  border-radius: 5px;
  border: 1px solid #d4d2db;
  background-color: #382f5a;
  color: #d4d2db;
  font-weight: 600;
  font-size: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  outline: none;
}
